* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  line-height: 2rem;
}

footer {
  grid-area: footer;
}

/* --- NAV --- */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid lightgrey;
}

.nav__logo-container {
  width: 230px;
  height: auto;
}
.nav__logo {
  width: 100%;
}

/* --- HEADINGS --- */

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #141414;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #141414;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.page-intro {
  padding: 40px;
}
.page-intro__title {
  text-align: center;
  padding-bottom: 30px;
}

.page-intro__content {
  max-width: 800px;
  margin: 0 auto;
}

/* --- GENERAL STYLING --- */

.button {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  background-color: #f6d15e;
  padding: 13px 20px;
  border-radius: 10px;
}

/* --- FOOTER --- */

footer {
  padding: 40px;
}

.contactform {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.contactform label {
  display: block;
  padding: 10px 0px;
}

.contactform input,
.contactform textarea {
  width: 100%;
  padding: 5px 15px;
  border: 1px solid #818a91;
  border-radius: 0;
  font-family: inherit;
  box-sizing: border-box;
}

.contactform__button {
  border: 0;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  cursor: pointer;
}

/* --- HOMEPAGE --- */

.homepage {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "intro"
    "ditl"
    "gezin"
    "aboutus"
    "footer";
}
header {
  grid-area: header;
}
.intro {
  grid-area: intro;
}
.ditl {
  grid-area: ditl;
}
.gezin {
  grid-area: gezin;
}

.aboutus {
  grid-area: aboutus;
}

.intro {
  z-index: 1;
}
.intro__title {
  text-align: center;
  font-weight: 300;
  padding: 40px 20px;
}

.intro__img {
  width: 100%;
}

.intro__content {
  text-align: center;
  padding: 40px 20px;
}

/* .wave {
  height: 0px;
  width: 0px;
} */
.split {
  text-align: center;
  /* clip-path: url(#wave); */
}

.split--yellow {
  background-color: #f6d15e;
}

.split__titlecontainer {
  padding: 50px 20px;
}

.split__title {
  padding-bottom: 10px;
}

.split__subtitle {
  font-weight: 300;
  font-size: 1rem;
}

.ditl .split__img {
  background-image: url("../images/Day-in-the-life-Fotografie-Vleuten-010-1.jpg");
  background-repeat: none;
  background-size: cover;
  padding-bottom: 100%;
}

.gezin .split__img {
  background-image: url("../images/familiefotografie-014-1245x830-3.jpg");
  background-repeat: none;
  background-size: cover;
  padding-bottom: 100%;
}

.split__contentcontainer {
  padding: 40px 40px 60px 40px;
}

.split__content {
  margin-bottom: 40px;
  text-align: left;
}

.split__button {
  margin: 0 auto;
}
.split__button--white {
  background-color: white;
  color: black;
}

.aboutus {
  background-color: #f3856d;
  padding: 40px;
}
.aboutus__title {
  text-align: center;
  padding-bottom: 20px;
}
.aboutus__content {
  text-align: center;
}

.aboutus__contentcontainer {
  padding: 20px 40px 40px 40px;
  margin: 0 auto;
  background-color: white;
  color: black;
  max-width: 800px;
}

.aboutus__img {
  margin: 0 auto;
  width: 100%;
  display: block;
  max-width: 800px;
}

/* --- PORTFOLIO --- */

.portfolio__slider img {
  width: 100%;
}

.portfolio-info {
  padding: 40px;
  text-align: center;
}

.portfolio-info__content {
  text-align: left;
  margin-top: 40px;
}

.portfolio-info__quote {
  font-size: 1.4rem;
  line-height: 2.5rem;
  text-align: left;
}

.portfolio-info__quote:before {
  color: #ccc;
  content: open-quote;
  font-family: "Times New Roman", Times, serif;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.portfolio-info__button {
  margin: 0 auto;
}
.portfolio-info__list {
  text-align: left;
  list-style: inside;
  padding: 20px;
}

.portfolio-info__list-title {
  font-weight: 600;
  margin-top: 40px;
  text-align: left;
}

.portfolio-info__price {
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.3rem;
  }

  /* --- HOMEPAGE 768--- */
  .intro__content {
    padding: 50px;
    max-width: 75%;
    margin: 0 auto;
  }

  .aboutus__contentcontainer {
    padding: 60px;
    max-width: 800px;
  }

  .ditl .split__img {
    padding-bottom: 66%;
  }

  .gezin .split__img {
    padding-bottom: 66%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }

  /* --- HOMEPAGE 1024--- */

  .intro__content {
    padding: 75px;
    max-width: 800px;
  }
  .ditl {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img title"
      "img content";

    align-content: center;
  }

  .gezin {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title img"
      "content img";
  }

  .split__titlecontainer {
    grid-area: title;
    padding: 100px 50px 20px 50px;
  }

  .split__contentcontainer {
    grid-area: content;
  }

  .split__img {
    grid-area: img;
    height: auto;
    padding-bottom: 0%;
  }

  .split {
    text-align: left;
  }
  .split__contentcontainer {
    padding: 20px 50px 100px 50px;
  }

  .ditl .split__img {
    padding-bottom: 0;
  }

  .gezin .split__img {
    padding-bottom: 0%;
  }
}
